body {
  background-image: url(../Work-Day-Planner/vintage-wallpaper/vintage-wallpaper.png);
}
.container calendar {
  margin-top: 5%;
}
.row {
  padding: 10px;
}

#Moment-Time {
  font-size: 16px;
  font-weight: bold;
}
[contenteditable="true"] {
  display: block;
  font-size: 1em;
  font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
  line-height: 1.5;
}
